/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Climate+Crisis&family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

.hero-container img{
    width: 100%;
    height: 400px; 
    object-fit: cover;
    display: block;
}

.products-display {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #5CBDFB, #E44093);
    padding: 40px 20px;
}

.filter-container {
    text-align: center;
    margin: 20px 0 60px 0;
}

.filter-container label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
    color: white;
}

#tradable {
    font-family: 'Poppins', sans-serif;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: #333;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#tradable option {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.container {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 900px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.product-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    padding: 15px;
    text-align: center;
    width: 250px;
    height: auto;
    padding-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.12);
    cursor: pointer;
}

.product-image-container {
    width: 100%;
    height: 300px;
    background-color: #EAEAEA; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.product-card img {
    width: 80%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

.product-title {
    padding: 15px 15px 5px 15px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #333;
}

.product-price {
    padding: 0 15px;
    color: #df2582;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.no-products {
    font-size: 18px;
    color: red;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
